[Desktop Entry]
Type=Application
Name=linux-drag-here
Comment=run a bash script for every file supplied
Exec=bash -c "cd \"$(dirname %k)\" && ./.ezpatch/scripts/unix.sh %U"
